<!DOCTYPE html>
<html>
    <head>
        <!---------- Code for logo started ---------->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="images/logo.png">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nestimatic</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="styles/communicate/profile-page.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="styles/inputfieldofprofile.css" />
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="styles/net-connection.css"/>
        
        <!--JQuery-->
        <script src="jquery/jquery-3.2.1.min.js"></script>  

        <script src="jquery/theme-color.js"></script>    
      
    </head>
    <body>
            <div class="net-connection">
                    <p id="ooUpdate" style="text-align: center"></p>
                 </div>

        <!--Nestimatic Head-->
        <div id="wrapper">
            <center>
                <h1>Communicate</h1>
                <a href="communicate">
                    <button class="backButton">
                        <div class="insideOptionsMenu">
                            <div class="arrowLine up"></div>
                            <div class="mid-line"></div>
                            <div class="arrowLine down"></div>
                        </div>
                    </button>
                </a>
            </center><br>
        </div>
            <br><br><br><br><br><br>
        <!--User name and surname-->
        <div class="settings"><br>
            <center>
                <p>post made successfully...</p><br><br>
                <hr class="hr-shadow">
                <a href="communicate"><button>click here to go back</button></a>
            
            </center><br>     
        </div>

        <br>

        <script src="jquery/net-connection.js"></script>     
    </body>
</html>