<!DOCTYPE html>
<html>
    <head>
        <!---------- Code for logo started ---------->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="images/logo.png">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nestimatic</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="styles/info.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="styles/inputfieldofprofile.css" />
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="styles/net-connection.css"/>

        <script src="jquery/jquery-3.2.1.min.js"></script>

        <script src="jquery/info.js"></script>

        <script src="jquery/theme-color.js"></script>    

    </head>
    <body>
            <div class="net-connection">
                    <p id="ooUpdate" style="text-align: center"></p>
                 </div>

        <div class="main">
    
                <div id="preparing">
                    <br>
                        <center>
                                <p class="bottom-p">Preparing to make your life systematic....</p>
                        </center>
                        <br>
                </div>
                    <form id="info-form" method="POST" action="nestimatic" enctype="multipart/form-data">
                
                <div class="anyName slide">
                    <input type="file" name="profile" accept="image/gif, image/jpeg, image/png" required> 
                </div><br>
                <center>
                    <input type="text" name="first" id="first" class="top3input" required><br><br>
                    <input type="text" name="last" id="last" class="top3input" required>
                </center>
                <center><br>
                    <p class="bottom-p">Are you agree to our terms and privacy policy ?</p><br>
                    <input type="submit" value="Yes, continue" id="submitinfo" class="submitButton">
                </center>
            </form>
        </div>
   
        <script src="jquery/jquery-3.2.1.min.js"></script>
        <script src="jquery/jquery.upload_preview.min.js"></script>
        <script type="text/javascript">
            $('.anyName').uploadPreview({
                width: '200px',
                height: '200px',
                backgroundSize: 'cover',
                fontSize: '16px',
                borderRadius: '200px',
                border: '3px solid #dedede',
                lang: 'en', //language
            });
        </script>
            <script src="jquery/net-connection.js"></script>     
        </body>
</html>